<div class="main-container">
	<div class="header-container">
		<md-grid-list cols="3" rowHeight="100px">
			<md-grid-tile>
				<div style="position: absolute; left: 0px;">
					<img src="assets/img/logo.png" height="80px">
				</div>
			</md-grid-tile>
			<md-grid-tile>
				<div *ngIf="receiver !== null && receiver !== undefined" class="receiver-header">Talk to {{receiver}}</div>
			</md-grid-tile>
			<md-grid-tile class="user-header">
				<button md-raised-button>Welcome, {{username}}</button>
				<button md-raised-button (click)="logout()">Logout</button>
			</md-grid-tile>
		</md-grid-list>
	</div>
	<table class="chat-table">
		<tr>
			<td rowspan="2" class="user-list-col">
				<md-list>
				  	<md-list-item *ngFor="let user of getOtherUsers()" class="user-item">
					    <md-icon md-list-icon (click)="startChatWith(user)">person</md-icon>
					    <h4 md-line (click)="startChatWith(user)">{{user.username}}</h4>
					  </md-list-item>
				</md-list>
			</td>
			<td class="message-col">
				<md-list id="msg-container" class="message-container">
				  	<md-list-item *ngFor="let message of filteredMessages" 
				  		class="message-item" [style.background]="message.sender === username ? 'rgba(80,150,220, 0.4)':'rgba(150,150,150, 0.3)'">
					    <md-icon md-list-icon>chat</md-icon>
					    <h4 md-line><b>{{message.sender === username ? 'You': message.sender}}</b>: {{message.content}}</h4>
					  </md-list-item>
				</md-list>
			</td>
		</tr>
		<tr>
			<td>
				<md-input-container style="width: 85%;">
					<input mdInput placeholder="New message" 
						[disabled]="channel === null || channel === undefined" class="message-input"
						 [(ngModel)]="newMessage" 
	  					(keyup)="$event.keyCode == 13 ? sendMessage() : null">
				</md-input-container>
				<button md-raised-button [disabled]="channel === null || channel === undefined" style="width: 12%;" (click)="sendMessage()">Send</button>
			</td>
		</tr>
	</table>
</div>
